.search-page-container {
    overflow: hidden;
    position: relative;
    background-color: rgba(36, 36, 36, 255);
  }
  .main-search-page {
    max-width: 1420px;
    margin-left: auto;
    padding-left: 3rem;
  }