.flex-details-1-price {
  display: flex;
  justify-content: flex-end;
  gap: 0.2em ;

}
.flex-details-1 {
  flex:  42%;
  background: #3c413f;
  border-radius: 0.8em;
  padding: 1.5em;
  color: white;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.5em;
  margin-left: 0%;
}
.images-detail-1{
  width: 40%;
  /* justify-items: center !important; */
}
.PC-detail-price {
  font-size: 1.3rem;
  font-weight: 600;
}
.PC-detail-currency {
  font-size: 0.75rem;
  align-self: baseline;
}

.flex-details-1-icon {
  display: flex;
  /* margin-top: 1%; */
  /* padding-top: %; */
  /* justify-content: center; */
}

.flex-details-1-name-icon {
  display: flex;
  justify-content: space-between;
}
.flex-details-1-name {
  font-size: 1.625rem;
  font-weight: 600;
  width: 75%;
  color: #f1f1f5;
  font-family: Poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  letter-spacing: 0.00625rem;
}
.PC-detail-icon1,
.PC-detail-icon2 {
  font-weight: 700;
  color: #ffd369;
  font-size: 1.2rem;
  padding: 0.4em;
  padding-bottom: 0.6em;
  border: 1px solid #ffd369;
  height: 2.2rem;
  border-radius: 10px;
}

.PC-detail-icon2 {
  color: white;
  border: 1px solid white;
}

.flex-details-1-icon {
  gap: 1em;
}
.flex-details-1-marque-category {
  font-size: 0.925rem;
  display: flex;
  justify-content: space-between;
}

.flex-details-1-marque {
  display: flex;
  gap: 0.4em;
}

.flex-details-1-category {
  display: flex;
  gap: 0.5em;
}

.PC-detail-marque-point,
.PC-detail-category-point {
  font-size: 0.675rem;
  align-self: center;
}
.PC-detail-stock-icon {
  color: #3dd598;
  font-size: 1rem;
  align-self: center;
}

.flex-details-marque,
.flex-details-category {
  font-weight: 600;
  color: #fff2d2;
}

.flex-details-1-pc-features {
  font-size: 0.75rem;
  display: flex;
}
.bold-features {
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff2d2;
  margin-top: 0.7em;
}
.flex-pc-features1,
.flex-pc-features2,
.flex-pc-features3,
.flex-pc-features4 {
  flex-shrink: 1;
  flex-grow: 1;
  border: 1px solid white;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  padding-left: 1.5em;
}
.flex-pc-features1 {
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}
.flex-pc-features4 {
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.overview-title {
  font-weight: 600;
  margin-bottom: 1em;
}

.overview-content {
  font-size: 0.875rem;
}
.flex-details-1-fiche-Technique {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid white;
}

.fiche-Technique-Name {
  font-weight: 600;
}

.pc-description-circle {
  width: 1rem;
  height: 1rem;
  border: 3px solid #3dd598;
  font-size: 0.925rem;

  border-radius: 50%;
  background-color: #3c413f;
  align-self: center;
}
.pc-description-flex {
  display: flex;
  gap: 0.7em;
}

.pc-description-flex p {
  font-size: 0.875rem;
}
.flex-details-1-Interested-btn {
  display: flex;
  justify-content: space-between;
}

.flex-details-1-Interested {
  font-weight: 600;
  align-self: center;
}

.flex-details-1-btn {
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7em;
  padding: 0.875em 2.8em;
  background: #ffd369;
}


